Debug
.libs
*~
*.suo
obj
*.actual
*.mdb
*test.txt
*.resx
*.csdl
*.ssdl
*.dll.config
*.exe.config
*.pdb
*.exe
*.dll
*.err
*.diff
*.vsdiff
*.vserr
*.userprefs
packages
.nuget
[Bb]uild
[Tt]est
[Dd]eploy
source/StarTrek/bin/
